<div class="cost-container">
  <h3>Actualizar costos del salón</h3>

  <form (ngSubmit)="savePrices()">
    <table>
      <thead>
        <tr>
          <th>Número de Personas</th>
          <th>Costo con alberca ($)</th>
          <th>Costo sin alberca ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services">
          <td>{{ service.name }}</td>
          <td>
            <input
              type="number"
              [(ngModel)]="service.priceWithPool"
              name="withPool-{{service.id}}"
              [disabled]="!isEditing"
              required
            />
          </td>
          <td>
            <input
              type="number"
              [(ngModel)]="service.priceWithoutPool"
              name="withoutPool-{{service.id}}"
              [disabled]="!isEditing"
              required
            />
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" [disabled]="!isEditing">Guardar cambios</button>
    <button type="button" (click)="toggleEdit()"> {{ isEditing ? 'Cancelar edición' : 'Editar' }}
  </button>
  </form>
</div>

