<div class="table-container">
  <h2>Gestión de Precios</h2>
  <table>
    <thead>
      <tr>
        <th>Número de personas</th>
        <th>Costo con alberca</th>
        <th>Acción</th>
        <th>Costo sin alberca</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ product.name }}</td>
        <td>
          <input type="number" [(ngModel)]="product.price" [disabled]="!product.editing" />
        </td>
        <td>
          <button *ngIf="!product.editing" (click)="editProduct(i)">Editar</button>
          <button *ngIf="product.editing" (click)="saveProduct(i)">Guardar</button>
        </td>

        <td>
          <input type="number" [(ngModel)]="product.price1" [disabled]="!product.editing1" />
        </td>
        <td>
          <button *ngIf="!product.editing1" (click)="editProduct1(i)">Editar</button>
          <button *ngIf="product.editing1" (click)="saveProduct1(i)">Guardar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>