<main>
  <app-nav-bar></app-nav-bar>
  <section class="container my-5">
    <div class="dashboard">
      <h1>Bienvenido al Salón de Eventos Sahuaro</h1>
      <p>Donde cada momento se convierte en un recuerdo inolvidable.</p>
      <div class="button-grid">
        <a [routerLink]="['/app-our-cost']" class="card-button">
          <i class="bi bi-cash-coin"></i>
          <span>Costos</span>
        </a>
        <a [routerLink]="['/app-our-dates']" class="card-button">
          <i class="bi bi-calendar-event"></i>
          <span>Fechas</span>
        </a>
        <a [routerLink]="['/app-stock']" class="card-button">
          <i class="bi bi-box-seam"></i>
          <span>Inventario</span>
        </a>
        <a [routerLink]="['/app-our-services']" class="card-button">
          <i class="bi bi-gear"></i>
          <span>Servicios</span>
        </a>
        <a [routerLink]="['/app-additional-services']" class="card-button">
          <i class="bi bi-puzzle"></i>
          <span>Servicios adicionales</span>
        </a>
      </div>
    </div>
  </section>
</main>

