.dashboard {
  background: #F2F2F2;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  max-width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

.dashboard h1 {
  font-size: 2.5rem;
  color: #262626;
  margin-bottom: 10px;
}

.dashboard p {
  font-size: 1.2rem;
  color: #6D8C4D;
  margin-bottom: 30px;
}

.button-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  margin-left: 100px;
}

.button-grid::-webkit-scrollbar {
  height: 8px;
}

.button-grid::-webkit-scrollbar-thumb {
  background-color: #86A656;
  border-radius: 4px;
}

.card-button {
  background-color: #ffffff; /* Fondo blanco */
  color: #262626;
  text-decoration: none;
  border-radius: 16px;
  min-width: 220px;
  height: 240px;
  padding: 25px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(50, 50, 50, 0.4); /* Sombra gris oscuro */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-button:hover {
  transform: scale(1.05);
  background-color: #F0F5EB; /* Verde muy claro */
}

.card-button i {
  font-size: 4.5rem;
  margin-bottom: 20px;
  color: #799d54; /* Verde de tu paleta */
}

.card-button span {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  color: #262626;
}

