.custom-green {
  color: #6D9A45;
}

.custom-btn-green {
  background-color: #6D9A45;
  color: #fff;
  border: none;
}

.custom-btn-green:hover {
  background-color: #5a823a;
}

.custom-btn-outline-green {
  border: 2px solid #6D9A45;
  color: #6D9A45;
  background-color: transparent;
}


.custom-btn-outline-green:hover {
  background-color: #6D9A45;
  color: #fff;
}

.object-fit-cover {
  object-fit: cover;
}
