.precios-table {
  background-color: white;
  color: black;
  border: 2px solid #198754; /* verde Bootstrap */
}

.precios-table th {
  background-color: #198754;
  color: white;
}

.precios-table td,
.precios-table th {
  vertical-align: middle;
}

.precios-table input {
  max-width: 120px;
  margin: auto;
  border: 1px solid #ced4da;
}
